{% extends 'base.html' %} 
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Departments</li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Departments </h5>            

             
           
                                      
          

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th style="width:15px"> </th>
                    <th>Name</th>
                    <th >Description</th>  
                    <th> </th>         
                    {% if userType == "AdminUser" or user.email == "admin@live.com" %}
                    <th>  <a  href = "{% url 'departments' %}" class="btn btn-outline-primary">Add Department</a> </th>
                    {% endif %}
                  </tr>
                </thead>
                
                <tbody>
                {% for dep in departments %}       
                  <tr>
                    {% if dep.name == "ELE" %} 
                    <td class="p-1 mb-1 bg-primary"> </td>
                    {% elif dep.name == "INS" %}
                    <td class="p-1 mb-1 bg-success"> </td>
                    {% elif dep.name == "MEC" %}
                    <td class="p-1 mb-1 bg-info"> </td>
                    {% elif dep.name == "GSR" %}
                    <td class="p-1 mb-1 bg-danger"> </td>
                    {% elif dep.name == "OPER" %}
                    <td class="p-1 mb-1 bg-warning"> </td>
                    {% elif dep.name == "MAINT" %}
                    <td class="p-1 mb-1 bg-secondary"> </td>
                    {% elif dep.name == "ADMIN" %}
                    <td class="p-1 mb-1 bg-dark"> </td>
                    {% elif dep.name == "IT" %}
                    <td class="p-1 mb-1 bg-light"> </td>
                    {% endif %}  

                    <td>{{dep.name}}</td>
                    <td>{{dep.description}}</td> 
                    {% if userType == "AdminUser" or user.email == "admin@live.com" %}  
                    <td> <a href="{% url 'dep_update' dep.id %}"> <i class="bx bx-edit text-success"></i> </a> </td>                  
                    <td> <a href = " {% url 'department_delete' dep.id %}" > <i class="bx bxs-trash text-danger"></i> </a> </td>
                    {% endif %}
                  </tr>
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}