{% extends 'base_nonav.html' %} 
{% block content %}
{% load static %}

  <div class="Container">
     <!-- Header  -->
    
    <img src=" {% static 'assets\img\vac-header.jpg' %} " width = "600px"  alt="">
    <h4 class="fw-bold">LEAVE APPLICATION FORM</h4>
    <div class="row mt-2">
     <!-- employee info  --> 
    </div>
    <div class="FLX">

      <div class="LabelMargin">
        <label> Name : </label>
      </div>

      <div class="  BorderBottom  datacolor">
         {{vac.employee.first_name}} {{vac.employee.last_name}}
      </div>
      <div class="">
        
     </div>
     <div class="LabelMargin">
        <label> Personal : </label>
     </div>
     <div class="BorderBottom  datacolor">
        {{vac.employee.ps_number}}
     </div>

   </div>

    <div class=""> </div>

    <div class="FLX">
        <div class="LabelMargin">
            <label> Department : </label>
        </div>
          <div class="BorderBottom  datacolor">
             {{vac.employee.department.name}}
          </div>
          <div class="">
            
         </div>
         <div class="LabelMargin">
            <label> Shift personnel : </label>
         </div>
         <div class="BorderBottom ">
            
         </div>
    </div>

    
    <div class = "row mt-3">
        <div class="">
            <p style="font-size: 10px;"> Date to be taken : </p>
          </div>
          <div class=""> </div>
          <div class="">
            <p style="font-size: 10px;" class="mx-3"> AM/PM : </p>
          </div>
    </div>

 

    <div class="">
        <div class="">
            <label> From : </label>
          </div>
          <div class="BorderBottom  datacolor">
             {{vac.from_date}}
          </div>                            
         <div class="">
            <label> To : </label>            
         </div>
         <div class="BorderBottom  datacolor">
            {{vac.to_date}}
         </div>                            
         <div class="">
            <label> No of Days: </label>            
         </div>
         <div class="border  datacolor">
            {{vac.nodays}}
         </div>           
         <div class="border  datacolor">
            {{vac.ampm}}
         </div>
    </div>

    {% comment %} <!-- Annual Leave-->
    <div class="row mt-4"> 
        <div class="col-lg-2 BorderAll">
            <label> Annual Leave </label>            
         </div>
         <div class="col-lg-2 BorderAll">
            <label> No of days : </label>            
         </div>
         <div class="col-lg-5  BorderTop">
            <label> Annual leave entitlement for the current year: </label>            
         </div>
         <div class="col-lg-1 BorderTop BorderRight BorderBottom"></div>
    </div>
    <div class="row"> 
        <div class="col-lg-2 "></div>        
        <div class="col-lg-2 "></div>        
        <div class="col-lg-5 BorderLeft">
           <label> Annual leave entitlement for previous year: </label>            
        </div>     
        <div class="col-lg-1  BorderBottom BorderRight "></div>
    </div>
    <div class="row"> 
        <div class="col-lg-4 "></div>        
        <div class="col-lg-1 BorderLeft ">
            <p style="font-size: 10px; height:5px;" > (if approved ) </p>
        </div>        
    </div>
    <div class="row"> 
        <div class="col-lg-4 "></div>        
        <div class="col-lg-5 BorderLeft ">
            <label> Total annual leave entitlement: </label>            
         </div>     
         <div class="col-lg-1  BorderBottom BorderRight "></div>
    </div>
    <div class="row"> 
        <div class="col-lg-4 "></div>        
        <div class="col-lg-5 BorderLeft ">  
            <label> Days taken so far this calendar year: </label>            
         </div>  
         <div class="col-lg-1  BorderBottom BorderRight "></div> 
    </div>
    <div class="row"> 
        <div class="col-lg-4 "></div>        
        <div class="col-lg-5 BorderLeft ">  
            <label> Days on this application:</label>            
         </div>  
         <div class="col-lg-1  BorderBottom BorderRight "></div>
    </div>
    <div class="row"> 
        <div class="col-lg-4 "></div>        
        <div class="col-lg-5 BorderLeft BorderBottom ">  
            <label> Balance remaining after this application:</label>                       
         </div>  
         <div class="col-lg-1  BorderBottom BorderRight "></div>
    </div>
    
    <!-- Medical Leave-->

    <div class="row mt-4"> 
        <div class="col-lg-2  BorderAll ">
            <label> Medical Leave </label>            
         </div>
         <div class="col-lg-2 BorderAll ">
            <label> No of days : </label>            
         </div>
         <div class="col-lg-6 BorderAll">
            <label> Days previously taken this calendar year :  </label>         
         </div>                           
    </div>
    <div class="row"> 
        <div class="col-lg-4"> </div>
        <div class="col-lg-6 BorderLeft BorderRight  BorderBottom ">- </div>
    </div>
    <div class="row"> 
        <div class="col-lg-4"> </div>
        <div class="col-lg-6 BorderLeft BorderRight  BorderBottom " >- </div>
    </div>
    <div class="row"> 
        <div class="col-lg-4"> </div>
        <div class="col-lg-6 BorderLeft BorderRight  BorderBottom ">- </div>
    </div>
    
    <!-- Unpaid Leave-->
    <div class="row mt-4"> 
        <div class="col-lg-2  BorderAll ">
            <label> Unpaid Leave </label>            
         </div>
         <div class="col-lg-2 BorderAll ">
            <label> No of days : </label>            
         </div>
         <div class="col-lg-6 BorderAll ">
            <label> Reason:  </label>         
         </div>                           
    </div>

    <div class="row"> 
        <div class="col-lg-2"></div>
        <div class="col-lg-2 BorderLeft BorderRight BorderBottom ">
            <label> Hours : </label>            
         </div>
         <div class="col-lg-3  BorderBottom ">
            <label> From : </label>            
         </div>
         <div class="col-lg-3 BorderRight BorderBottom ">
            <label> To : </label>            
         </div>
    </div>


    <!-- Paid Leave-->
    <div class="row mt-4"> 
    <div class="col-lg-2  BorderAll ">
        <label> Paid Leave </label>            
     </div>
     <div class="col-lg-2 BorderAll ">
        <label> No of days : </label>            
     </div>
     <div class="col-lg-6 BorderAll ">
        <label> Reason:  </label>         
     </div>                           
   </div>

    <div class="row"> 
        <div class="col-lg-2"></div>
        <div class="col-lg-2 BorderLeft BorderRight BorderBottom ">
            <label> Hours : </label>            
         </div>
         <div class="col-lg-3  BorderBottom ">
            <label> From : </label>            
         </div>
         <div class="col-lg-3 BorderRight BorderBottom ">
            <label> To : </label>            
         </div>
    </div>
    <div class="row"> 
        
    </div>
    
    <!-- Signatures-->
    <div class="row mt-5"></div>
    <div class="row mt-5"></div>
    
    <div class="row"> 
      <div class="col-lg-2 datacolor">
        <label>{{vac.employee.first_name}} {{vac.employee.last_name}}</label> 
      </div>
     <div class="col-lg-2 datacolor">
        <label>{{vac.vac_date}} </label> 
     </div>   
    </div>   
    <div class="row"> 
      <div class="col-lg-2 BorderTop ">
        <p style="font-size: 10px;">(1) Applicant</p> 
      </div>
     <div class="col-lg-2 BorderTop ">
       <p style="font-size: 10px;">Date</p> 
     </div>
     <div class="col-lg-2"></div>
     <div class="col-lg-2 BorderTop ">
        <p style="font-size: 10px;">(2) Dept Eng./SIS</p> 
      </div>
     <div class="col-lg-2 BorderTop ">
       <p style="font-size: 10px;">Date</p> 
     </div>

    </div>

    <div class="row mt-5"></div>
    <div class="row mt-5"></div>

    <div class="row"> 
        <div class="col-lg-2 BorderTop ">
            <p style="font-size: 10px;">(3) Head/Deputy of Dpt</p> 
          </div>
         <div class="col-lg-2 BorderTop ">
           <p style="font-size: 10px;">Date</p> 
         </div>

         <div class="col-lg-2"></div>
         <div class="col-lg-2 BorderTop ">
            <p style="font-size: 10px;">(4) Admin Head</p> 
          </div>
         <div class="col-lg-2 BorderTop ">
           <p style="font-size: 10px;">Date</p> 
         </div>
    </div>

    <div class="row mt-5"></div>
    <div class="row mt-5"></div>

    <div class="row"> 
        <div class="col-lg-3"></div>
        <div class="col-lg-2 BorderTop ">
            <p style="font-size: 10px;">(5) Plant Superintendent</p> 
          </div>
         <div class="col-lg-2 BorderTop ">
           <p style="font-size: 10px;">Date</p> 
         </div>
        
    </div>

</div>   {% endcomment %}
    

{% endblock %}