{% extends 'base.html' %} {% block content %}
<main id="main" class="main">
    <div class="pagetitle">
          <h4>Vacations</h4>
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item">Vacation</li>
                  <li class="breadcrumb-item active">Vacations</li>
                </ol>
              </nav>
    </div>
<div class="row">
<div class="col-lg-8">

     <div class="card"> 
      <div class="card-body">
  
        <h5 class="card-title">Register Vacation</h5>
     
        <!-- Vertical Form -->
      
   <form action="" method="POST"   autocomplete="off" class="form-row row g-3">
            {% csrf_token %}    
       
          <div class="form-group col-7">
            <label for="" class="form-label text-primary">Employee</label>
             {{ form.employee }} 
          </div>
          <div class="form-group col-2">
            <label for="" class="form-label text-primary">Date</label>
            {{ form.vac_date }}
          </div>
          <div class="row mt-2">
            <div class="form-group col-lg-3">
              <label for="" class="form-label text-primary">From Date</label>
              {{ form.from_date }}
            </div>
            <div class="form-group col-lg-3">
              <label for="" class="form-label text-primary">To Date</label>
              {{ form.to_date }}
            </div>
            <div class="form-group col-lg-1">
              <label for="" class="form-label text-primary">AM/PM</label>
              {{ form.ampm }}
            </div>
            <div class="form-group col-lg-2">
              <label for="" class="form-label text-primary"># Days</label>
              <label for="" class="form-label">{{ form.nodays }}</label>
            </div>
          </div>
          <div class="row mt-2 " >
           <div class="form-group col-lg-9">
            <label for="" class="form-label text-primary">Remarks</label>
              {{form.remarks}}
           </div>
          </div>
          <div>          
          
            <a href = "{% url 'vacation_approve' vac.id %}"  class="btn btn-success">Approve</a>            
            <a href = "{% url 'vacation_reject' vac.id %}"  class="btn btn-danger">Reject</a>
            <button type="submit" class="btn btn-primary">Submit</button>           
            <a href = "{% url 'list_vacations' %}"  class="btn btn-outline-primary">Back</a>
          </div>
        </form><!-- Vertical Form -->
        <div class="col-lg-9 mt-4">
        <table class="table datatable" >
          <tr> 
            <td>Annual leave entitlement for the current year: </td>
            <td class = "text-danger fw-bold text-center"> {{updEls.current_year}} </td>
          </tr>
          <tr> 
            <td>Annual leave entitlement for previous year(if approved):</td>
            <td class = "text-danger fw-bold text-center"> {{updEls.previous_year}} </td>
          </tr>
          <tr> 
            <td>Total annual leave entitlement:</td>
            <td class = "text-danger fw-bold text-center">{{ annual }}</td>
          </tr>
          <tr> 
            <td>Days taken so far this calendar year:</td>
            <td class = "text-danger fw-bold text-center"> {{updEls.daystaken_current}} </td>
          </tr>
          <tr> 
            <td>Days on this application:</td>
            <td class = "text-danger fw-bold text-center"> {{this}} </td>
          </tr>
          <tr> 
            <td>Balance remaining after this application:</td>
            <td class = "text-danger fw-bold text-center"> {{balance}} </td>
          </tr>
        <table>  
        </div> 
      </div>
    </div>
  </div>

  
</div>

</main><!-- End #main -->
{% endblock %}