{% extends 'base.html' %} 
{% block content %}

<main id="main" class="main">
 
    <div class="pagetitle">
      <h1>Vacations</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Vacations</li>
          <li class="breadcrumb-item active">vacations List</li>
        </ol>
      </nav>
      
    </div><!-- End Page Title -->
 
    <section class="section">
      <div class="row">
        <div class="col-lg-9">

          <div class="card">
           <div class="card-body">
            {% include 'includes\alerts.html' %}
             <div class="row">
              <div class="col-lg-8">
              <h5 class="card-title">Vacations List </h5>            
            </div>
            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'vacListPDF' %} " class="btn btn-outline-primary"><i class="bx bx-printer text-primary "></i> Print</a>
               
            </div>
            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'vacations' %}" class="btn btn-outline-primary">Add Vacation</a>
            </div>
          </div>
              <!-- Table with stripped rows -->
         
              <table class="table datatable">
                <thead>
                  <tr>     
                    <th></th>        
                    <th>ID</th>
                    <th>Vac Date</th>     
                    <th>PS no</th>
                    <th>Name </th>                     
                    <th>From Date </th>   
                    <th>To Date </th>
                    <th>No of Days </th>                
                    <th>AM/PM </th>
                    <th>Status </th>                                                     
                  </tr>
                </thead>
                
                <tbody>
                {% for vacation in p_vacations %}       

                {% if vacation.status == 1 %}
                  <tr class="table-primary">
                {% elif vacation.status == 2 %}  
                  <tr class="table-danger">
                {% else %}    
                  <tr>  
                {% endif %} 
                  
                    {% if vacation.employee.department.name == "ELE" %} 
                    <td class="p-1 mb-1 bg-primary"> </td>
                    {% elif vacation.employee.department.name == "INS" %}
                    <td class="p-1 mb-1 bg-success"> </td>
                    {% elif vacation.employee.department.name == "MEC" %}
                    <td class="p-1 mb-1 bg-info"> </td>
                    {% elif vacation.employee.department.name == "GSR" %}
                    <td class="p-1 mb-1 bg-danger"> </td>
                    {% elif vacation.employee.department.name == "OPER" %}
                    <td class="p-1 mb-1 bg-warning"> </td>
                    {% elif vacation.employee.department.name == "MAINT" %}
                    <td class="p-1 mb-1 bg-secondary"> </td>
                    {% elif vacation.employee.department.name == "ADMIN" %}
                    <td class="p-1 mb-1 bg-dark"> </td>
                    {% elif vacation.employee.department.name == "IT" %}
                    <td class="p-1 mb-1 bg-light"> </td>
                    {% endif %}  
                    
                    <td>{{vacation.id}}</td>
                    <td>{{vacation.vac_date}}</td>
                    <td class="text-start" scope="col">{{vacation.employee.ps_number}}</td>
                    {% if vacation.middle_name != None or  vacation.middle_name is not None %}
                    <td>{{ vacation.employee.first_name}} {{vacation.employee.middle_name}}  {{vacation.employee.last_name}}</td> 
                    {% else %}
                    <td>{{ vacation.employee.first_name}} {{vacation.employee.last_name}}</td> 
                    {% endif%}
                    <td>{{vacation.from_date}}</td>
                    <td >{{vacation.to_date}}</td>   
                    <td >{{vacation.nodays}}</td>   
                    <td >{{vacation.ampm}}</td>                  
                    {% if vacation.status == 1 %}
                    <td> Approved </td>
                    {% elif vacation.status == 2 %} 
                    <td> Rejected </td>
                    {% else %}
                    <td> </td>
                    {% endif %} 
                    {% comment %} <td>{{vacation.sofar}}</td>
                    <td>{{vacation.leave_stat_id}}</td> {% endcomment %}
                    <td> <a href="{% url 'single_vacationPDF' vacation.id %}"> <i class="bx bx-search-alt-2 text-primary "></i> </a> </td>                     
                    <td> <a href = "{% url 'v_workflow' vacation.id %}" > <i class="bi bi-people text-primary"></i> </a> </td>
                  
                   
                    {% if  vacation.status != 1 and vacation.status != 2 and vacation.id in canDelete %}   
                        
                    <td> <a href="{% url 'vac_update' vacation.id %}"> <i class="bx bx-edit text-success "></i> </a> </td>                  
                    <td> <a href = "{% url 'vacation_delete' vacation.id %}" > <i class="bx bxs-trash text-danger"></i> </a> </td>
                    {% else %}
                    <td></td>
                    <td></td>                    
                    {% endif %}
                   

                  
               

                    
                  </tr>
               
                 {% endfor %} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

                <!-- Basic Pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  
                  {% if p_vacations.has_previous %} 
                   <li class="page-item"><a class="page-link" href="?page={{p_vacations.previous_page_number}}">Previous</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                  {% endif %}

                  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                  <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                  <li class="page-item"><a class="page-link" href="?page=3">3</a></li>        
                  
                  {% if p_vacations.has_next %}        
                   <li class="page-item"><a class="page-link" href="?page={{p_vacations.next_page_number}}">Next</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                  {% endif %}
                </ul>
              </nav><!-- End Basic Pagination -->
            </div>
          </div>

      </div>
        <!-- Paginator-->
   


     {% comment %} search card {% endcomment %}
     
        <div class="col-lg-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Search vacations </h5>
              
              <form action="" method="GET" class="row g-3">

                <div class="form-group col-12">
                  <label for="" class="form-label">PS No</label>
                 <input name='PSno_search' class ="form-control"/>
                </div>

                <div class="form-group col-12">
                  <label for="" class="form-label">Name</label>
                 <input name='name_search' class ="form-control"/>
                </div>

             

                <div class="input-group input-daterange">
                  <input type="date" class="form-control"  name='S_fromdate'>
                  <div class="input-group-addon">to</div>
                  <input type="date" class="form-control" name='S_todate'>
                 </div>
               </div>                 
               
               <div class="input-group mb-3">
                <button type="submit" class = "btn btn-outline-primary m-auto col-6"> Search </button>
              </div>
                
              </form>
              
            </div>
          </div>
        
     
    </section>
  
{% endblock %}