{% extends 'base.html' %} 
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Overtime</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Overtime</li>
          <li class="breadcrumb-item active">Multiple Overtime Request Approval  </li>
        </ol>
       </nav>
      
    </div><!-- End Page Title -->


    <div class="card">
        <div class="card-title">
            <div class="card-body">
                <div class= "col-lg-4">
                    <h5 class="fw-bold"> Select OTs to approve </h5>
                <form method="POST" action="{% url 'ots_approve' %}">
                    {% csrf_token %}
                   
                    <button type="button" id="select-all-button" class="btn btn-outline-primary" onClick="toggle(this)" >Select All</button>
                    <button type="button" id="deselect-all-button" class="btn btn-outline-primary" onClick="deselect(this)" >Remove Select</button>
                     <ul class="list-group" style="font-size:14px;">
                       

                        {% for item in ots %}
                            <li class="list-group-item"> 
                            <input class="form-check-input me-1" id= {{ item.id }}  value="{{ item.id }}"  name="overtime_ids"   type="checkbox" aria-label="...">
                            {{ item.id }}  -  {{item.ot_date}} - {{item.employee.first_name}} {{item.employee.last_name}}
                            </li>
                        {% endfor %}
                    </ul>               
                     {% if ots %}
                    <button class="btn btn-outline-primary mt-4"> Arrorove selected  </button>
                      {% else %}
                    <button class="btn btn-outline-primary mt-4 disabled muted"> Arrorove selected  </button>
                     {% endif %}
                    <a href ="{% url 'dashboard' %}" class="btn btn-outline-primary mt-4"> Back  </a>
                </form>
               </div>
            </div>
        </div>
    </div>       

</main>
<script>

  function toggle(source) {
    
    checkboxes = document.getElementsByName('overtime_ids');
    
    for(var i=0, n=checkboxes.length;i<n;i++) {
       checkboxes[i].checked = true;
       }
  }

  function deselect(source) {
    
    checkboxes = document.getElementsByName('overtime_ids');
    console.log(checkboxes)
    for(var i=0, n=checkboxes.length;i<n;i++) {      
      checkboxes[i].checked = false;    

    }
  }
  
</script>





{% endblock %}   