{% extends 'base.html' %} {% block content %}
<main id="main" class="main">
    <div class="pagetitle">
          <h4>Overtime</h4>
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item">Overtime</li>
                  <li class="breadcrumb-item active">Overtime</li>
                </ol>
              </nav>
    </div>
<div class="row">
<div class="col-lg-10">

     <div class="card"> 
      <div class="card-body">
  
        <h5 class="card-title">Edit Employee Overtime</h5>
     
        <!-- Vertical Form -->
    
   <form action="" method="POST"   autocomplete="off" class="form-row row g-3">
            {% csrf_token %}    
        
            {% if form.non_field_errors %}
            <div >
                <ul>
                    {% for error in form.non_field_errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="form-group col-8">
              <label for="" class="form-label text-primary">Employee: </label>
                {{ ot.employee.first_name }}  {{ ot.employee.last_name }} 
            </div>

            <table class="table datatable">
              <thead>
                <th>OT Date</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Rate</th>
                <th>Reason</th>                
              </thead>
              <body>
                <td>{{ form.ot_date }}</td>
                <td>{{ form.from_time }}</td>
                <td>{{ form.to_time }}</td>
                <td>{{form.rate}}</td>
                <td>{{form.reason}}</td>
               
              </body>
            </table>
            
          <div>
            {% if RejAcc %}          
            <a href = "{% url 'overtime_approve' ot.id %}"  class="btn btn-success">Approve</a>            
            <a href = "{% url 'overtime_reject' ot.id %}"  class="btn btn-danger">Reject</a>
            {% endif %}  
            <button type="submit" class="btn btn-primary">Submit</button>   
            <a href = "{% url 'ot_list' %}"  class="btn btn-outline-primary">Back</a>
          </div>
        </form><!-- Vertical Form -->    
      </div>
    </div>
  </div>

  
</div>

</main><!-- End #main -->
{% endblock %}