{% extends 'base.html' %} {% block content %}
<main id="main" class="main">
    <div class="pagetitle">
          <h4>Overtime</h4>
              <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item">Overtime</li>
                  <li class="breadcrumb-item active">Overtime</li>
                </ol>
              </nav>
    </div>
 
     <div class="card"> 
      <div class="card-title">Employee: <span class="text-primary" style="font-size:18px"> {{employee.first_name}} {{employee.last_name}} <span></div>
      <div class="card-body">     
    
          
           </div>      
        </div>

        <div class="card"> 
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ formset.management_form }}
              {{ formset.as_p }}
              <button>Submit</button>
          </form>
          </div>
        </div>

      </main>    
{% endblock%}