{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Overtime Approval</h1>        
    </div>
    <section class="section">
        <div class="card col-lg-12">
           <div class="row  m-3">            
                    <div class="col-lg-2"> Overtime ID: <span class="text-primary"> {{ot.id}} </span> </div> 
                    <div class="col-lg-2"> Name: <span class="text-primary"> {{ot.employee.first_name}} {{ot.employee.last_name}}</span> </div>
                    <div class="col-lg-3"> OT Date:<span class="text-primary">  {{ot.ot_date}} </span></div>            
           </div> 
           <div class="card-body">

            <div class="row mt-3" >
                <div class="col-lg-2 text-center ">
                    <label class="fw-bold">Dpet Engineer/SiC</label>
                </div>
                <div class="col-lg-2 text-center">
                    <label class="fw-bold">Dept. Head/Deputy</label>
                </div>
               <div class="col-lg-2 text-center">
                    <label class="fw-bold">Admin Head</label>                    
                </div> 
                <div class="col-lg-2 text-center">
                    <label class="fw-bold">Superintendent</label>
                    
                </div>
             </div>
            <div class="row mt-2">
                <div class="col-lg-2 text-center">
                    
                    {% if ot.first_approval.profile_pic %}                       
                    <img src= "{{ot.first_approval.profile_pic.url}}" alt="Profile" class="rounded-circle" height="100px">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>

                <div class="col-lg-2 text-center">
                    {% if ot.second_approval.profile_pic %}                
                    <img src= "{{ot.second_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>

               <div class="col-lg-2 text-center">
                    {% if ot.third_approval..profile_pic %}                
                    <img src= "{{ot.third_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div> 

                <div class="col-lg-2 text-center">
                    {% if ot.forth_approval..profile_pic %}                
                    <img src= "{{ot.fourth_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>
           </div>
           
         <div class="row">
            <div class="col-lg-2 text-center">
                {{ot.first_approval.first_name}}  {{ot.first_approval.last_name}}
            </div>
            <div class="col-lg-2 text-center">
                {{ot.second_approval.first_name}}  {{ot.second_approval.last_name}}
            </div>
         <div class="col-lg-2 text-center">
                {{ot.third_approval.first_name}}  {{ot.third_approval.last_name}}
            </div> 
            <div class="col-lg-2 text-center">
                {{ot.fourth_approval.first_name}}  {{ot.fourth_approval.last_name}}
            </div>
         </div>

         <div class="row mt-2 text-white">

            {%  if ot.first_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
               <label >Waiting...</label>
            </div>
            {% elif ot.first_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
             </div>
             {% elif ot.first_app_status == 2 %} 
             <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                 <label >Rejected</label>
             </div>
            {% endif%}

         {% if ot.first_app_status == 1 %}  <!-- if it gets first Approval-->
            {%  if ot.second_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
               <label >Waiting...</label>
            </div>
            {% elif ot.second_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
             </div>
             {% elif ot.second_app_status == 2 %} 
             <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                 <label >Rejected</label>
             </div>
            {% endif%}
        {% endif %}

        {% if ot.second_app_status == 1 %}  <!-- if it gets second Approval-->
            {%  if ot.third_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
            <label >Waiting...</label>
            </div>
            {% elif ot.third_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
            </div>
            {% elif ot.third_app_status == 2 %} 
            <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                <label >Rejected</label>
            </div>
            {% endif%}
        {% endif %}

        {% comment %} {% if ot.third_app_status == 1 %}  <!-- if it gets third Approval-->
            {%  if ot.fourth_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
            <label >Waiting...</label>
            </div>
            {% elif ot.fourth_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
            </div>
            {% elif ot.fourth_app_status == 2 %} 
            <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                <label >Rejected</label>
            </div>
            {% endif%}
        {% endif %} {% endcomment %}
         </div> <!-- row-->

           </div>
        </div> 

    </section>  
{% endblock%}