{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  {% comment %} <link href="https://fonts.gstatic.com" rel="preconnect"> {% endcomment %}
  {% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> {% endcomment %}

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/vacation.css' %}" rel="stylesheet">

  <style> /* use CSS into style */
    @page {
      size: A4; /* Change from the default size of A4 */
      margin: 2mm; /* Set margin on each page */
    }
  </style>
  
</head>

<body>
   
    {% block content%} 
    {% endblock%}
    

    <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

      <!-- Template Main JS File -->
     <script src=" {% static 'assets/js/main.js' %} "></script>
    
  </body>
</html>