{% extends 'base.html' %} 
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Hierarchy</h1>
    </div>
    <section class="section">
        <div class="card col-lg-8">
            <div class="card-body">
                <form action="" method="GET">
             <div class="row">
                <select name="employee" class="form-select mt-3"> 
                  
                {% for emp in emps%}
               
                {% if selected_emp is not None and emp.id == selected_emp %} 
                <option selected value={{emp.id}}> {{emp.first_name}} {{emp.last_name}} </option>
                {% else %} 
                <option value={{emp.id}}> {{emp.first_name}} {{emp.last_name}} </option>
                {% endif %}
                {%endfor%}
                </select>
                <div class="text-center">
                   <button type="submit" class = "col-lg-2 btn btn-outline-primary mt-2">Get</button>
                </div>
            </div>   
            <div class="row">
              <h5 class="card-title"> Supervisor: 
               <span>{{sel_emp.head_dep.first_name}} {{sel_emp.head_dep.last_name}}</span></h5> 
            </div>
            <div class="row">
              <h5 class="card-title">His Team</h5> 
                <table  class="table datatable">
                    <thead>
                      <tr>  
                        <th> Name </th>
                        <th> Position </th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for member in team%}
                    <tr>
                      <td>{{ member.first_name}} {{ member.last_name}}</td>
                      <td>{{member.position.title}}</td>                      
                    </tr>
                    {% endfor%} 
                </tbody>
                  </table>
         
            


         
            </div> 
            </div>
        </form>
        </div>
    </section>    
{% endblock%}