{% extends 'base_nonav.html' %} 
{% block content %}
<main id="main" class="main">
 
    <section class="">
              <!-- Table with stripped rows -->
              <table class="BorderAll">
                <thead>
                  <tr >                  
                    <th>PS no</th>
                    <th>Name </th>  
                    <th>Position </th>   
                    <th>Department </th>
                    <th>Phone No </th>                        
                   
                  </tr>
                </thead>
                
                <tbody>
                {% for profile in accounts %}       
                  <tr>
                    <td class="" scope="col">{{profile.ps_number}}</td>
                    {% if profile.middle_name != None or  profile.middle_name is not None %}
                    <td>{{ profile.first_name}} {{profile.middle_name}}  {{profile.last_name}}</td> 
                    {% else %}
                    <td>{{ profile.first_name}} {{profile.last_name}}</td> 
                    {% endif%}
                    <td>{{profile.position}}</td>
                    <td class="" scope="col" >{{profile.department}}</td>
                    <td class="" scope="col" >{% if profile.phone_number %}
                                                {{profile.phone_number}}    
                                              {% endif %}
                    </td>                                                            
                  </tr>                            
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->
    </section>
{% endblock %}