{% extends 'base.html' %} 
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item active">Profiles List</li>
        </ol>
      </nav>
      
    </div><!-- End Page Title -->
 
    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
           <div class="card-body">
             <div class="row">
              <div class="col-lg-8">
              <h5 class="card-title">Employee Profiles/Accounts List </h5>            
            </div>
          
            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'profiles' %}" class="btn btn-outline-primary">Add Employee</a>
            </div>

            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'profilesPDF' %} " class="btn btn-outline-primary"><i class="bx bx-printer text-primary "></i> Print</a>
               
            </div>
          </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>                  
                    <th>PS no</th>
                    <th>Name </th>  
                    <th>Position </th>   
                    <th>Department </th>        
                    
                    <th> 
                         <form method="GET">
                         <select class="form-select" name="sortby" id="" onChange="form.submit();">
                         
                            <option value="first_name">Name</option>
                            <option value="position">Position</option>
                            <option value="department">Department</option>
                         </select>  
                        </form>
                    </th>
                  </tr>
                </thead>
                
                <tbody>
                {% for profile in p_profiles %}       
                  <tr>
                    <td class="text-center" scope="col">{{profile.ps_number}}</td>
                    {% if profile.middle_name != None or  profile.middle_name is not None %}
                    <td>{{ profile.first_name}} {{profile.middle_name}}  {{profile.last_name}}</td> 
                    {% else %}
                    <td>{{ profile.first_name}} {{profile.last_name}}</td> 
                    {% endif%}
                    <td>{{profile.position}}</td>
                    <td class="text-center" scope="col" >{{profile.department}}</td>                                                           
                    <td> <a href="{% url 'profile_update' profile.id %}"> <i class="bx bx-edit text-success "></i> </a> </td>                  
                    <td> <a href = "{% url 'profile_delete' profile.id %}" > <i class="bx bxs-trash text-danger"></i> </a> </td>
                                               
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

                <!-- Basic Pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  
                  {% if p_profiles.has_previous %} 
                   <li class="page-item"><a class="page-link" href="?page={{p_profiles.previous_page_number}}">Previous</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                  {% endif %}

                  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                  <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                  <li class="page-item"><a class="page-link" href="?page=3">3</a></li>        
                  
                  {% if p_profiles.has_next %}        
                   <li class="page-item"><a class="page-link" href="?page={{p_profiles.next_page_number}}">Next</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                  {% endif %}
                </ul>
              </nav><!-- End Basic Pagination -->
            </div>
          </div>

        </div>
        <!-- Paginator-->
   


     {% comment %} search card {% endcomment %}
        <div class="col-lg-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Search Profiles </h5>
              
              <form action="" method="GET" class="row g-3">
                <div class="form-group col-12">
                  <label for="" class="form-label">PS No</label>
                 <input name='PSno_search' class ="form-control"/>
                </div>

                <div class="form-group col-12">
                  <label for="" class="form-label">Name</label>
                 <input name='name_search' class ="form-control"/>
                </div>

                <div class="form-group col-12">
                  <label for="" class="form-label">Position</label>
                  <select class="form-select" aria-label="Default select example" name="position_search">
                    <option selected>Select Pos...</option>
                    {%for pos in positions %}
                    <option value={{pos.id}}>{{pos.title}}</option>
                    {% endfor%}
                  </select>
                </div>
                    <div class="form-group col-12">
                  <label for="" class="form-label">Department</label>
                  <select class="form-select" aria-label="Default select example" name="department_search">
                    <option selected>Select Dep...</option>
                    {%for dep in departments %}
                    <option value={{dep.id}}>{{dep.name}}</option>
                    {% endfor%}
                  </select>

               
                </div>

                <button type="submit" class = "btn btn-outline-primary">Search</button>
              </form>
              
            </div>
          </div>

        </div> 
      </div>
     
    </section>
{% endblock %}