{% extends 'base.html' %} 
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Positions</li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee Positions </h5>            

             
           
                                      
          

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th >Description</th>  
                    <th> </th>         
                    <th>  <a  href = {% url 'positions' %} class="btn btn-outline-primary">Add Position</a> </th>
                  </tr>
                </thead>
                
                <tbody>
                {% for pos in positions %}       
                  <tr>
                    <td>{{pos.title}}</td>
                    <td>{{pos.description}}</td> 
                    <td> <a href="{% url 'pos_update' pos.id %}"> <i class="bx bx-edit"></i> </a> </td>
                  
                    <td> <a href = {% url 'del_position' pos.id %} > <i class="bx bxs-trash"></i> </a> </td>
                  </tr>
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}