{% extends 'base.html' %} {% block content %}
<div class="container mt-5 pt-4">
<h4>Data Tables</h4>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Employee</li>
          <li class="breadcrumb-item active">Positions</li>
        </ol>
      </nav>
    </div>
<div class="container d-flex justify-content-center mt-5 pt-4">
<div class="col-lg-6">

    <div class="card">
      <div class="card-body">
  
        <h5 class="card-title">Employee Position</h5>
        
        <!-- Vertical Form -->
      

        <form action="" method="POST"   autocomplete="off" class="form-row row g-3">
            {% csrf_token %}    
       
          <div class="form-group col-12">
            <label for="" class="form-label">Title</label>
            {{ form.title }}
          </div>
          <div class="col-12">
            <label for="" class="form-label">Description</label>
            {{ form.description }}
          </div>
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>           
            <a href = "{% url 'list_positions' %}"  class="btn btn-outline-primary">Back</a>
          </div>
        
        </form><!-- Vertical Form -->

      </div>
    </div>
</div>
</div>
{% endblock %}