{% extends 'base.html' %} 
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Medical Reports</h1>
       <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Medical Reports</li>
          <li class="breadcrumb-item active">Medical Reports List</li>
        </ol>
      </nav>
      
    </div><!-- End Page Title -->
 
    <section class="section">
      <div class="row">
        <div class="col-lg-9">

          <div class="card">
           <div class="card-body">
             <div class="row">
              <div class="col-lg-8">
              <h5 class="card-title">Medical Reports List </h5>            
            </div>
            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'medrepListPDF' %} " class="btn btn-outline-primary"><i class="bx bx-printer text-primary "></i> Print</a>              
            </div>
          
            <div class="col-lg-2 mt-3">
              <a  href = "{% url 'medreps' %}" class="btn btn-outline-primary">Add Report</a>
            </div>
          </div>
              <!-- Table with stripped rows -->
         
              <table class="table datatable">
                <thead>
                  <tr>     
                    <th></th>        
                    <th>ID</th>
                    <th>Rep.Date</th>     
                    <th>PS no</th>
                    <th>Name </th>                     
                    <th>From Date </th>   
                    <th>To Date </th>
                    <th>No of Days </th>                
                    <th>Status </th>                                                     
                  </tr>
                </thead>
                
                <tbody>
                {% for medrep in p_medreps %}       

                {% if medrep.status == 1 %}
                  <tr class="table-primary">
                {% elif medrep.status == 2 %}  
                  <tr class="table-danger">
                {% else %}    
                  <tr>  
                {% endif %} 
                  
                    {% if medrep.employee.department.name == "ELE" %} 
                    <td class="p-1 mb-1 bg-primary"> </td>
                    {% elif medrep.employee.department.name == "INS" %}
                    <td class="p-1 mb-1 bg-success"> </td>
                    {% elif medrep.employee.department.name == "MEC" %}
                    <td class="p-1 mb-1 bg-info"> </td>
                    {% elif medrep.employee.department.name == "GSR" %}
                    <td class="p-1 mb-1 bg-danger"> </td>
                    {% elif medrep.employee.department.name == "OPER" %}
                    <td class="p-1 mb-1 bg-warning"> </td>
                    {% elif medrep.employee.department.name == "MAINT" %}
                    <td class="p-1 mb-1 bg-secondary"> </td>
                    {% elif medrep.employee.department.name == "ADMIN" %}
                    <td class="p-1 mb-1 bg-dark"> </td>
                    {% elif medrep.employee.department.name == "IT" %}
                    <td class="p-1 mb-1 bg-light"> </td>
                    {% endif %} 

                    <td >{{medrep.id}}</td>
                    <td>{{medrep.medrep_date}}</td>                    
                    <td  class="text-start" scope="col">{{medrep.employee.ps_number}}</td>
                    {% if medrep.middle_name != None or  medrep.middle_name is not None %}
                    <td>{{ medrep.employee.first_name}} {{medrep.employee.middle_name}}  {{medrep.employee.last_name}}</td> 
                    {% else %}
                    <td>{{ medrep.employee.first_name}} {{medrep.employee.last_name}}</td> 
                    {% endif%}
                    <td>{{medrep.from_date}}</td>
                    <td  >{{medrep.to_date}} </td>   
                    <td >{{medrep.nodays}}</td>   
                                   
                    {% if medrep.status == 1 %}
                    <td> Approved </td>
                    {% elif medrep.status == 2 %} 
                    <td> Rejected </td>
                    {% else %}
                    <td> </td>
                    {% endif %}    
                    
                    <td> <a href="{%url 'pdf_view' medrep.id %}"> <i class="bi bi-paperclip text-primary "></i> </a> </td>
                    <td> <a href="{% url 'single_repPDF' medrep.id %}"> <i class="bx bx-search-alt-2 text-primary "></i> </a> </td>                     
                    <td> <a href = "{% url 'm_workflow' medrep.id %}" > <i class="bi bi-people text-primary"></i> </a> </td>
                    {% if  medrep.status != 1 and medrep.status != 2 or  canDelete %}
                    <td> <a href="{% url 'medrep_update' medrep.id %}"> <i class="bx bx-edit text-success "></i> </a> </td>                  
                    <td> <a href = "{% url 'medrep_delete' medrep.id %}" > <i class="bx bxs-trash text-danger"></i> </a> </td>
                    {% else %}
                    <td></td>
                    <td></td>                    
                    {% endif %}
                
                 
                  </tr>
                  <tr>
                    <td> </td>
                    <td> </td>
                    <td colspan=11> <span class="text-primary"> Description:</span> {{medrep.description}}</td>
                  </tr>
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

                <!-- Basic Pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  
                  {% if p_medreps.has_previous %} 
                   <li class="page-item"><a class="page-link" href="?page={{p_medreps.previous_page_number}}">Previous</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                  {% endif %}

                  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                  <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                  <li class="page-item"><a class="page-link" href="?page=3">3</a></li>        
                  
                  {% if p_medreps.has_next %}        
                   <li class="page-item"><a class="page-link" href="?page={{p_medreps.next_page_number}}">Next</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                  {% endif %}
                </ul>
              </nav><!-- End Basic Pagination -->
            </div>
          </div>

      </div>
        <!-- Paginator-->
   


     {% comment %} search card {% endcomment %}
     
        <div class="col-lg-3">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Search Reports </h5>
              
              <form action="" method="GET" class="row g-3">

                <div class="form-group col-12">
                  <label for="" class="form-label">PS No</label>
                 <input name='PSno_search' class ="form-control"/>
                </div>

                <div class="form-group col-12">
                  <label for="" class="form-label">Name</label>
                 <input name='name_search' class ="form-control"/>
                </div>

             

                <div class="input-group input-daterange">
                  <input type="date" class="form-control"  name='S_fromdate'>
                  <div class="input-group-addon">to</div>
                  <input type="date" class="form-control" name='S_todate'>
                 </div>
               </div>                 
               
                <div class="input-group mb-3">
                  <button type="submit" class = "btn btn-outline-primary m-auto col-6"> Search </button>
                </div>
              </form>
              
            </div>
          </div>
        
     
    </section>
  
{% endblock %}