{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Medical Report Approval</h1>        
    </div>
    <section class="section">
        <div class="card col-lg-12">
           <div class="row  m-3">            
                    <div class="col-lg-2"> Report ID: <span class="text-primary"> {{medrep.id}} </span> </div> 
                    <div class="col-lg-2"> Name: <span class="text-primary" > {{medrep.employee.first_name}} {{medrep.employee.last_name}} </span> </div>
                    <div class="col-lg-3"> Report Date: <span class="text-primary" > {{medrep.medrep_date}} </span> </div>            
           </div> 
           <div class="card-body">

            <div class="row mt-3" >
                <div class="col-lg-2 text-center ">
                    <label class="fw-bold">Dpet Engineer/SiC</label>
                </div>
                <div class="col-lg-2 text-center">
                    <label class="fw-bold">Dept. Head/Deputy</label>
                </div>
                <div class="col-lg-2 text-center">
                    <label class="fw-bold">Admin Head</label>
                    
                </div>
                <div class="col-lg-2 text-center">
                    <label class="fw-bold">Superintendent</label>
                    
                </div>
             </div>
            <div class="row mt-2">
                <div class="col-lg-2 text-center">
                    
                    {% if medrep.first_approval.profile_pic %}                       
                    <img src= "{{medrep.first_approval.profile_pic.url}}" alt="Profile" class="rounded-circle" height="100px">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>

                <div class="col-lg-2 text-center">
                    {% if medrep.second_approval.profile_pic %}                
                    <img src= "{{medrep.second_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>

                <div class="col-lg-2 text-center">
                    {% if medrep.third_approval..profile_pic %}                
                    <img src= "{{medrep.third_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>

                <div class="col-lg-2 text-center">
                    {% if medrep.forth_approval..profile_pic %}                
                    <img src= "{{medrep.fourth_approval.profile_pic.url}}" alt="Profile" class="rounded">
                    {% else %}  
                    <img src= "{% static 'assets/img/thumb.jpg' %} " alt="Profile" class="rounded" width="100px">
                    {% endif %}
                </div>
           </div>
           
         <div class="row">
            <div class="col-lg-2 text-center">
                {{medrep.first_approval.first_name}}  {{medrep.first_approval.last_name}}
            </div>
            <div class="col-lg-2 text-center">
                {{medrep.second_approval.first_name}}  {{medrep.second_approval.last_name}}
            </div>
            <div class="col-lg-2 text-center">
                {{medrep.third_approval.first_name}}  {{medrep.third_approval.last_name}}
            </div>
            <div class="col-lg-2 text-center">
                {{medrep.fourth_approval.first_name}}  {{medrep.fourth_approval.last_name}}
            </div>
         </div>
         
         <div class="row mt-2 text-white">
            {% if medrep.first_approval is not None %}              
                {%  if medrep.first_app_status == 0 %}
                <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
                    <label >Waiting...</label>
                </div>
                {% elif medrep.first_app_status == 1 %} 
                <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                    <label >Approved</label>
                </div>
                {% elif medrep.first_app_status == 2 %} 
                <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                    <label >Rejected</label>
                </div>
                {% endif%}  
              {% else %}
              <div class="col-lg-2 text-center rounded  p-2 m-1">            
                <label ></label>
               </div>  
            {% endif%}

        

         {% if medrep.second_approval is not None %} 
             
            {% if medrep.first_app_status == 1 %}  <!-- if it gets first Approval-->
                {%  if medrep.second_app_status == 0 %}
                <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
                    <label >Waiting...</label>
                </div>
                {% elif medrep.second_app_status == 1 %} 
                <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                    <label >Approved</label>
                </div>
                {% elif medrep.second_app_status == 2 %} 
                <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                    <label >Rejected</label>
                </div>
            {% endif%}
            
          {% endif %}                   

          {% else %}
          <div class="col-lg-2 text-center rounded  p-2 m-1">            
            <label ></label>
           </div>  
        {% endif %}

        {% if medrep.second_app_status == 1 %}  <!-- if it gets second Approval-->
            {% if medrep.third_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
              <label >Waiting</label>
            </div>
            {% elif medrep.third_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
            </div>
            {% elif medrep.third_app_status == 2 %} 
            <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                <label >Rejected</label>
            </div>
            {% endif%}
        {% endif %}

        {% if medrep.third_app_status == 1 %}  <!-- if it gets third Approval-->
            {%  if medrep.fourth_app_status == 0 %}
            <div class="col-lg-2 text-center rounded bg-info p-2 m-1">            
            <label >Waiting...</label>
            </div>
            {% elif medrep.fourth_app_status == 1 %} 
            <div class="col-lg-2 text-center rounded bg-success p-2 m-1">            
                <label >Approved</label>
            </div>
            {% elif medrep.fourth_app_status == 2 %} 
            <div class="col-lg-2 text-center rounded bg-danger p-2 m-1">            
                <label >Rejected</label>
            </div>
            {% endif%}
        {% endif %}
         </div> <!-- row-->

           </div>
        </div> 

    </section>  
{% endblock%}