{% extends 'base.html' %} {% load static %}
{% block content %}
<style>
 .title1 {
  margin-left:10px;
  padding-left:10px;
  padding-right:10px;
  font-weight: 500;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size:22px;
  }
</style>
<main id="main" class="main">
  <section class="section">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-10">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-lg-3 col-md-6">
          <div class="card info-card sales-card">

               <div class="card-body">
              <h5 class="card-title">Vacations <span>| This Year</span></h5>

              <div class="d-flex align-items-center">
                <div style="font-size:32px">
                  <i class="bx bx-calendar"></i>
                </div>
                <div class="ps-3"  >
                  <h6 class = "title1 badge rounded-pill bg-successbadge rounded-pill bg-primary" >{{leavestat.current_year}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

    
        <!-- Sales Card -->
        <div class="col-lg-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Vacations <span>| Last Year</span></h5>

              <div class="d-flex align-items-center">
                <div style="font-size:32px">
                  <i class="bx bx-calendar-plus"></i>
                </div>
                <div class="ps-3"  >
                  <h6 class = "title1 badge rounded-pill bg-successbadge rounded-pill bg-primary">{{leavestat.previous_year}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->


            
        <!-- Sales Card -->
        <div class="col-lg-3 col-md-6">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Vacations <span>| Taken </span></h5>

              <div class="d-flex align-items-center">
                <div  style="font-size:32px">
                  <i class="bx bx-calendar-minus"></i>
                </div>
                <div class="ps-3"  >
                  <h6 class = "title1 badge rounded-pill bg-successbadge rounded-pill bg-danger" >{{leavestat.daystaken_current}}</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->
        

             <!-- Sales Card -->
             <div class="col-lg-3 col-md-6">
              <div class="card info-card sales-card">   
                <div class="card-body">
                  <h5 class="card-title">Vacations <span>| Remaining </span></h5>
    
                  <div class="d-flex align-items-center">
                    <div style="font-size:32px">
                      <i class="bx bx-calendar-check"></i>
                    </div>
                    <div class="ps-3"  >
                     
                      <h6 class = "title1 badge rounded-pill bg-successbadge rounded-pill bg-success" >{{remain|safe}} </h6>
                    </div>
                  </div>
                </div>
    
              </div>
            </div><!-- End Sales Card -->
      </div>
    </div>

      <div class="row">
        

          <div class="card ms-2">
             <div style=" font-family:Poppins, sans-serif; font-size:16px; font-weight:500; color: #012970; ">
             <p class = " ps-1 card-title"> Vacations waiting for your Approval </p>
            </div>
           
           <div class="card-body">                 
                 
              <!-- Table with stripped rows -->
         
              <table class="table datatable">
                <thead>
                  <tr>     
                    <th></th>        
                    <th>ID</th>
                    <th>Vac Date</th>     
                    <th>PS no</th>
                    <th>Name </th>                     
                    <th>From Date </th>   
                    <th>To Date </th>
                    <th>No of Days </th>                
                    <th>AM/PM </th>
                    <th>Status </th>                                                     
                  </tr>
                </thead>
                
                <tbody>
                  {% for vacation in vacWaitApp %}                        
                    {% if vacation.employee.department.name == "ELE" %} 
                    <td class="p-1 mb-1 bg-primary"> </td>
                    {% elif vacation.employee.department.name == "INS" %}
                    <td class="p-1 mb-1 bg-success"> </td>
                    {% elif vacation.employee.department.name == "MEC" %}
                    <td class="p-1 mb-1 bg-info"> </td>
                    {% elif vacation.employee.department.name == "GSR" %}
                    <td class="p-1 mb-1 bg-danger"> </td>
                    {% elif vacation.employee.department.name == "OPER" %}
                    <td class="p-1 mb-1 bg-warning"> </td>
                    {% elif vacation.employee.department.name == "MAINT" %}
                    <td class="p-1 mb-1 bg-secondary"> </td>
                    {% elif vacation.employee.department.name == "ADMIN" %}
                    <td class="p-1 mb-1 bg-dark"> </td>
                    {% elif vacation.employee.department.name == "IT" %}
                    <td class="p-1 mb-1 bg-light"> </td>
                    {% endif %} 

                    <td>{{vacation.id}}</td>
                    <td>{{vacation.vac_date}}</td>
                    <td class="text-start" scope="col">{{vacation.employee.ps_number}}</td>
                    {% if vacation.middle_name != None or  vacation.middle_name is not None %}
                    <td>{{ vacation.employee.first_name}} {{vacation.employee.middle_name}}  {{vacation.employee.last_name}}</td> 
                    {% else %}
                    <td>{{ vacation.employee.first_name}} {{vacation.employee.last_name}}</td> 
                    {% endif%}
                    <td>{{vacation.from_date}}</td>
                    <td >{{vacation.to_date}}</td>   
                    <td >{{vacation.nodays}}</td>   
                    <td >{{vacation.ampm}}</td>                  
                   
                    <td> </td>
                  
                  
                              
                    <td> <a href = "{% url 'vac_update' vacation.id %}" > <i class="bi bi-journal-text"></i> </td>
                    <td> <a href = "{% url 'v_workflow' vacation.id %}" > <i class="bi bi-people text-primary"></i> </a> </td>
                  </tr>
               
                 {% endfor%} 
                </tbody>

              </table>
              <!-- End Table with stripped rows -->

                <!-- Basic Pagination -->
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  
                  {% if vacWaitApp.has_previous %} 
                   <li class="page-item"><a class="page-link" href="?page={{vacWaitApp.previous_page_number}}">Previous</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                  {% endif %}

                  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                  <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                  <li class="page-item"><a class="page-link" href="?page=3">3</a></li>        
                  
                  {% if VacWaitApp.has_next %}        
                   <li class="page-item"><a class="page-link" href="?page={{vacWaitApp.next_page_number}}">Next</a></li>
                  {% else %}
                   <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                  {% endif %}
                </ul>
              </nav><!-- End Basic Pagination -->

            </div>
          </div>

        </div>
        <!-- Paginator-->
   <!-- overtime --> 
        <div class="row">
        

          <div class="card ms-2">
             <div style=" font-family:Poppins, sans-serif; font-size:16px; font-weight:500; color: #012970; ">
             <p class = " ps-1 card-title"> Overtime waiting for your Approval </p>
            </div>
           
           <div class="card-body">                 
                 
              <!-- Table with stripped rows -->
         
              <table class="table datatable">
                <thead>
                  <tr>     
                    <th></th>        
                    <th>ID</th>
                    <th>OT Date</th>     
                    <th>PS no</th>
                    <th>Name </th>                     
                    <th>From Time </th>   
                    <th>To Time </th>
                    <th>Total Hours </th>                
                    <th>Rate </th>
                    <th>Straight </th>
                    <th>Reason</th>                                                     
                  </tr>
                </thead>
                
                 <tbody>
                  {% for OT in OTWaitApp %}                        
                    {% if OT.employee.department.name == "ELE" %} 
                    <td class="p-1 mb-1 bg-primary"> </td>
                    {% elif OT.employee.department.name == "INS" %}
                    <td class="p-1 mb-1 bg-success"> </td>
                    {% elif OT.employee.department.name == "MEC" %}
                    <td class="p-1 mb-1 bg-info"> </td>
                    {% elif OT.employee.department.name == "GSR" %}
                    <td class="p-1 mb-1 bg-danger"> </td>
                    {% elif OT.employee.department.name == "OPER" %}
                    <td class="p-1 mb-1 bg-warning"> </td>
                    {% elif OT.employee.department.name == "MAINT" %}
                    <td class="p-1 mb-1 bg-secondary"> </td>
                    {% elif OT.employee.department.name == "ADMIN" %}
                    <td class="p-1 mb-1 bg-dark"> </td>
                    {% elif OT.employee.department.name == "IT" %}
                    <td class="p-1 mb-1 bg-light"> </td>
                    {% endif %} 

                    <td>{{OT.id}}</td>
                    <td>{{OT.ot_date}}</td>
                    <td class="text-start" scope="col">{{OT.employee.ps_number}}</td>
                    {% if OT.middle_name != None or  OT.middle_name is not None %}
                    <td>{{ OT.employee.first_name}} {{OT.employee.middle_name}}  {{OT.employee.last_name}}</td> 
                    {% else %}
                    <td>{{ OT.employee.first_name}} {{OT.employee.last_name}}</td> 
                    {% endif%}
                    <td>{{OT.from_time}}</td>
                    <td >{{OT.to_time}}</td>   
                    <td >{{OT.total_hours}}</td>   
                    <td >{{OT.rate}}</td>                  
                    <td >{{OT.straight}}</td>
                    <td >{{OT.reason}} </td>
                    <td> </td>          
                  
                              
                    <td> <a href = "{% url 'ot_update' OT.id %}" > <i class="bi bi-journal-text"></i> </td>
                    <td> <a href = "{% url 'o_workflow' OT.id %}" > <i class="bi bi-people text-primary"></i> </a> </td>
                  </tr>
               
                 {% endfor%} 
                </tbody>

              </table> 
              <!-- End Table with stripped rows -->

                <!-- Basic Pagination -->
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    
                    {% if OTWaitApp.has_previous %} 
                     <li class="page-item"><a class="page-link" href="?page={{OTWaitApp.previous_page_number}}">Previous</a></li>
                    {% else %}
                     <li class="page-item"><a class="page-link disabled" href="#">Previous</a></li>
                    {% endif %}
  
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>        
                    
                    {% if OTWaitApp.has_next %}        
                     <li class="page-item"><a class="page-link" href="?page={{OTWaitApp.next_page_number}}">Next</a></li>
                    {% else %}
                     <li class="page-item"><a class="page-link disabled" href="#">Next</a></li>
                    {% endif %}
                  </ul>
                </nav><!-- End Basic Pagination -->
            </div>
          </div>

        </div>
       

 
    </section>
</main>   
{% endblock %}